
.card{
	margin-top: 5%;
	display: flex;
	flex-direction:row;
	width: 100vw;

}

.contact-form{
	position: absolute;
	left:55%;
}
input{
	width: 398px;
	height:62px;
	border:1px solid #000;
	box-sizing:border-box;

}
textarea{
	width:398px;
	height: 169px;
	border: 1px solid #000;
	box-sizing: border-box;

}

input[type="submit"]{

	position: absolute;
	left:70px;
	width:246px;
	height: 53px;
	background:#000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:10px;
	color:#fff;
	font-size:20px;
	font-family: 'roboto';
	line-height: 28px;


}


::placeholder{
	font-family: 'roboto';
	font-size:14px;
	line-height:16px;
	padding-left: 10px;
}