
.logo{
 width:355px;
 height:102px;
  background-repeat: no-repeat;
  background-position:left;
}
#nav{
font-size: 30px;
margin: 10px;
overflow:hidden;
display: flex;
flex-direction: column;
float: right;
}
body {
  background-image: url("Kinshasa.png");
  background-repeat: no-repeat;
  background-size:1920px 700px; 
  background-position-x: 0px;
  background-position-y: 0px;
}

ul {
  list-style: none;
  
}

#nav li{
  float: left;
  margin-left: 10px;
  }

#nav a{
  text-decoration:none;
  display: block;
  color:#FFFFFF;
  display:inline-block;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
}
#homelink{
  text-decoration:none;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  
}
#about{
  padding-top:220px;
  text-align: center;
  font-size:60px;
  font-family: 'Dosis',  sans-serif;
  color: #FFFFFF;
  
}
#intro.p{
  float:left;
  padding-left: 40px;
  
}
p{
  margin-left: 25px;
}

h2{
  margin-left: 25px;
}
.reading{
  float:right;
  padding:20px 20px 20px 0px;
  width:600px;
  height:430px;
}
#intro{
 padding-top: 40px;
 font-size: 20px;
 font-family: 'Open Sans', sans-serif;
}
#nav a:hover{
  color:#FFA200;
}
#nav a:active{
  text-decoration: underline;
  text-decoration-color: #FFA200;
}

.the-partners{
  font-size: 40px;
  font-family: 'Dosis', medium, sans-serif;
  text-align:center;
  
  float:center;
}

.column{
  flex:30%;
  padding: 0 5px;
  text-align:center;
}

.column img{
  margin-top:8px;
  vertical-align: 10px;
}
#slack{
  width:200px;
  height: 70px;
  margin-left:15px;
  margin-right:15px;
}

#brand{
  width:350px;
  height:75px;
}

#flutter{
  width: 341px;
  height:90px;
}

hr{
  display: block;
  width:3.5%;
  margin-top:-30px;
  margin-left:25px;
 border: 2px solid #FFA200;
}

#line2{
  margin-left:650px;
}

.card{
	margin-top: 5%;
	display: flex;
	flex-direction:row;
	width: 100vw;

}

.contact-form{
	position: absolute;
	left:55%;
}
input{
	width: 398px;
	height:62px;
	border:1px solid #000;
	box-sizing:border-box;

}
textarea{
	width:398px;
	height: 169px;
	border: 1px solid #000;
	box-sizing: border-box;

}

input[type="submit"]{

	position: absolute;
	left:70px;
	width:246px;
	height: 53px;
	background:#000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:10px;
	color:#fff;
	font-size:20px;
	font-family: 'roboto';
	line-height: 28px;


}


::placeholder{
	font-family: 'roboto';
	font-size:14px;
	line-height:16px;
	padding-left: 10px;
}
