h1 {
margin-left: 70px;
}
form li {
list-style: none;
margin-bottom: 5px;
}

form ul li label{
float: left;
clear: left;
width: 100px;
text-align: right;
margin-right: 10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

form ul li input, select, span {
float: left;
margin-bottom: 10px;
}

form textarea {
float: left;
width: 350px;
height: 150px;
}

[type="submit"] {
clear: left;
margin: 20px 0 0 230px;
font-size:18px
}

p {
margin-left: 70px;
font-weight: bold;
}#frame {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}
#frame #form {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #36C;
	height: 400px;
	position: relative;
	text-align: center;
}
#frame #form form ul li label {
	font-weight: bold;
	line-height: 15px;
}



#frame #formheader {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: capitalize;
	color: #F60;
}
#frame #form form ul li input {

}

#frame #formnote p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #F00;
	position: relative;
}
